<section>
    <!-- <plex-box> -->
     <div class="andes-bg-gradient">
        <div class="andes-contenedor-principal">
            <div class="logo-container rounded">
                <div class="logo desktop"></div>
            </div>
            <div class="andes-contenedor-secundario w-50">
                <h4 class=""><strong>Bienvenido!</strong></h4>
                <hr class="andes-azul-oscuro">
                <h5 class="">
                    ANDES es una plataforma digital que te permitirá registrar y gestionar datos de pacientes, prestaciones, turnos y agendas.
                </h5>
            </div>
            <div *ngIf="!denied" class="andes-contenedor-cards">
                <!-- MPI -->
                <div *ngIf="mpi" class="andes-card" routerLink="/mpi">
                    <img class="andes-card-img bg-azul-claro img-mpi" alt="">
                    <div class="icono i-md andes-azul-claro rounded border"><i class="md mdi mdi-account-multiple-outline"></i></div>
                    <article class="andes-contenedor-secundario p-3">
                        <h2 class="titulo andes-azul-claro">MPI</h2>
                        <h5 class="subtitulo">Indice Maestro de Pacientes</h5>
                        <hr class="andes-azul-claro">
                        <p class="detalle ">Optimiza el proceso de identificación del paciente</p>
                    </article>
                </div>

                <!-- CITAS -->
                <div *ngIf="turnos==='gestor'" class="andes-card" routerLink="/citas/gestor_agendas">
                    <img class="andes-card-img bg-violeta img-turnos" alt="">
                    <i class="icono i-md andes-violeta rounded border i-md md mdi mdi-calendar"></i>
                    <article class="andes-contenedor-secundario p-3">
                        <h2 class="titulo andes-violeta">CITAS</h2>
                        <h5 class="subtitulo">Centro Inteligente de Agendas &amp; Turnos</h5>
                        <hr class="andes-violeta">
                        <p class="detalle">Mejora la accesibilidad de pacientes a las prestaciones</p>
                    </article>
                </div>
                <div *ngIf="turnos==='inicioTurnos'" class="andes-card" routerLink="/citas/puntoInicio">
                    <img class="andes-card-img bg-violeta img-turnos" alt="">                    
                    <i class="icono i-md andes-violeta rounded border i-md md mdi mdi-calendar"></i>
                    <article class="andes-contenedor-secundario p-3">
                        <h2 class="titulo andes-violeta">CITAS</h2>
                        <h5 class="subtitulo">Centro Inteligente de Agendas &amp; Turnos</h5>
                        <hr class="andes-violeta">
                        <p class="detalle">Mejora la accesibilidad de pacientes a las prestaciones</p>
                    </article>
                </div>

                <!-- HUDS -->
                <div *ngIf="rup" class="andes-card" routerLink="/rup">
                    <img class="andes-card-img bg-azul-oscuro img-rup" alt="">                    
                    <i class="icono i-md andes-azul-oscuro rounded border i-md md mdi mdi-contacts"></i>
                    <article class="andes-contenedor-secundario p-3">
                        <h2 class="titulo andes-azul-oscuro">HUDS</h2>
                        <h5 class="subtitulo">Historia Digital de Salud</h5>
                        <hr class="andes-azul-oscuro">
                        <p class="detalle">Registro universal de prestaciones de pacientes</p>
                    </article>
                </div>

                <!-- PRESTAMOS -->
                <div *ngIf="prestamosHC" class="andes-card" routerLink="/prestamosHC">
                    <img class="andes-card-img bg-verde img-citas" alt="">                   
                    <i class="icono i-md andes-verde rounded borderi-md md mdi mdi-folder"></i>
                    <article class="andes-contenedor-secundario p-3">
                        <h2 class="titulo andes-verde">PRESTAMOS DE CARPETAS</h2>
                        <h5 class="subtitulo">SOLICITUDES MANUALES  Y AUTOMÁTICAS</h5>
                        <hr class="andes-verde">
                        <p class="detalle">Mejora la administración de las carpetas de Historias Clínicas de los pacientes</p>
                    </article>
                </div>
            </div>

            <!-- <div *ngIf="!denied" class="row mt-4">
                <div *ngIf="mapaDeCamas" class="col-4">
                    <div class="boton andes-amarillo" routerLink="/mapa-de-camas">
                        <i class="icono md mdi mdi-hotel"></i>
                        <div class="titulo">Acosta2</div>
                        <div class="subtitulo">Mapa de camas</div>
                        <div class="detalle">Vea el estado del mapa de camas
                            <br />de los distintos servicios de la organización</div>
                    </div>
                </div>
            </div> -->

            <!-- PERMISOS -->
            <div *ngIf="denied" class="andes-contenedor-principal">
                <div class="andes-contenedor-secundario">
                    <i class="icono i-md andes-magenta rounded border mdi mdi-alert"></i>
                    <h2 class="titulo xl magenta">ATENCIÓN</h2>
                    <h5 class="subtitulo lg">PERMISOS DE APLICACIONES</h5>
                        <hr class="andes-magenta">
                    <p class="detalle md">Ud. no posee permisos para ningún módulo de ANDES</p>
                </div>
            </div>
        </div>
    </div>
    <!-- </plex-box> -->
</section>