<form class="plex-layout" #form="ngForm">
    <section >
        <!-- <listar-protocolos *ngIf="showListarProtocolos" ></listar-protocolos> -->
        <div *ngIf="showListarProtocolos" class="row">
            <!--Panel de Agendas-->
            <div class="col">
                <plex-box>
                    <header>
                         <!-- Conjunto de filtros -->
                        <div class="row">
                                <div class="col-3">
                                    <plex-select [(ngModel)]="sector" (change)="refreshSelection($event,'sector')" name="sector" label="Sector" (getData)="loadSector($event)"></plex-select>
                                </div>
                                <div class="col-3">
                                    <plex-select [(ngModel)]="areaValidacion" (change)="refreshSelection($event,'areaValidacion')" name="areaValidacion" label="Area Val." (getData)="loadAreasValidacion($event)"></plex-select>
                                </div>
                                <div class="col-4">
                                    <plex-bool [(ngModel)]="prioridad" type="slide" label="Rutina/Urgencia" (change)="refreshSelection($event,'prioridad')" ></plex-bool>
                                </div>
                                <div class="col-4">
                                    <plex-bool [(ngModel)]="estado" type="slide" label="Pendiente/Terminado" (change)="refreshSelection($event,'estado')" ></plex-bool>
                                </div>

                                <div class="col-3">
                                    <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="refreshSelection($event,'fechaDesde')" name="fechaDesde" label="Desde"
                                        class="fechas">
                                    </plex-datetime>
                                </div>
                                <div class="col-3">
                                    <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="refreshSelection($event,'fechaHasta')" name="fechaHasta" label="Hasta"
                                        class="fechas">
                                    </plex-datetime>
                                </div>
                                <div class="col-3">
                                    <label>
                                    <!--Spacer-->&nbsp;
                                    </label>
                                    <plex-button type="default" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'" (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
                                </div>
                            </div>
                            <!-- Filtros avanzados -->
                            <div class="row" *ngIf="mostrarMasOpciones">
                                <div class="col-3">
                                    <plex-float [(ngModel)]="numero" (change)="refreshSelection($event,'numero')" name="numero" label="Numero" ></plex-float>
                                </div>
                                <div class="col-3">
                                    <plex-select [(ngModel)]="origen" (change)="refreshSelection($event,'origen')" name="origen" label="Origen" (getData)="loadOrigenes($event)"></plex-select>
                                </div>
                                <div class="col-3">
                                    <plex-select [(ngModel)]="efectorSolicitante" (change)="refreshSelection($event,'efectorSolicitante')" name="efectorSolicitante" label="Efector Solicitante" (getData)="loadEfectores($event)"></plex-select>
                                </div>
                                <div class="col-3">
                                    <plex-float [(ngModel)]="numeroOrigen" (change)="refreshSelection($event,'numeroOrigen')" name="numeroOrigen" label="Numero Origen" ></plex-float>
                                </div>
                            </div>
                    </header>
        
                    <!--Resultados-->
                    <div *ngIf="!protocolos?.length" class="alert alert-default">
                        <i class="mdi mdi-emoticon-sad"></i> No hay protocolos que coincidan con los filtros de búsqueda
                    </div>
        
                    <table class="table table-striped table-sm">
                        <thead>
                            <th>Numero</th>
                            <th>Fecha</th>
                            <th>Servicio</th>
                            <th></th>
                            <th class="text-right estado">Estado</th>
                        </thead>
                        <tbody>
                            <tr class="" *ngFor="let protocolo of protocolos; let i = index" (click)="verProtocolo(protocolo, false, $event)">
                              <td>{{protocolo.numero?.valor}}</td>
                              <td>{{protocolo.solicitud.fecha}}</td>
                              <td>{{protocolo.servicio}}</td>
                              <td>
                                <a (click)="addProtocolo()" class="btn btn-success">
                                  Accion exitosa
                                </a>
                                <a class="btn btn-danger">
                                  Editar
                                </a>
                              </td>
                              <td>{{protocolo.origen}}</td>
                            </tr>
                        </tbody>
                    </table>

                </plex-box>
            </div>
        </div>
        
        <protocolo-detalle *ngIf="showProtocoloDetalle" [cargarProtocolo]="protocolo" ></protocolo-detalle>
    </section>

    <!--Footer-->
    <footer *ngIf="showListarProtocolos">
        <plex-button type="primary" label="Crear un nuevo protocolo" (click)="insertarAgenda()"></plex-button>
        <div class="float-right" *ngIf="showEditarAgendaPanel && agendasSeleccionadas?.length === 1">
            <plex-button type="danger" label="Cancelar" (click)="guardarAgendaPanel.cancelar()"></plex-button>
            <plex-button type="success" label="Guardar" (click)="guardarAgendaPanel.guardarAgenda(agendasSeleccionadas[0])"></plex-button>
        </div>
    </footer>

    <!-- Operaciones de Agenda -->
    <!-- <clonar-agenda *ngIf="showClonar" [agenda]="agendasSeleccionadas[0]" (volverAlGestor)="volverAlGestor($event)"></clonar-agenda>
    <planificar-agenda *ngIf="showEditarAgenda" [editaAgenda]="agendasSeleccionadas[0]" (volverAlGestor)="volverAlGestor($event)"></planificar-agenda>
    <planificar-agenda *ngIf="showInsertarAgenda" (volverAlGestor)="volverAlGestor($event)"></planificar-agenda>
    <revision-agenda *ngIf="showRevisionAgenda && agendasSeleccionadas?.length == 1" [agenda]="agendasSeleccionadas[0]" (volverAlGestor)="volverAlGestor($event)"></revision-agenda> -->

    <!-- Operaciones de Turnos -->
    <!-- <sobreturno *ngIf="showAgregarSobreturno" [agenda]="agendasSeleccionadas[0]" (volverAlGestor)="volverAlGestor($event)"></sobreturno>
    <dar-turnos *ngIf="showDarTurnos" (volverAlGestor)="volverAlGestor($event)"></dar-turnos>
    <reasignar-turno *ngIf="showReasignarTurno" [agendaAReasignar]="agendasSeleccionadas[0]" (volverAlGestor)="volverAlGestor($event)"
        class="plex-layout"></reasignar-turno>
    <reasignar-turno-agendas *ngIf="showReasignarTurnoAgendas" [agendasSimilares]="agendasSeleccionadas[0]"></reasignar-turno-agendas>
    <listar-turnos *ngIf="showListadoTurnos" [agendas]="agendasSeleccionadas" (volverAlGestor)="volverAlGestor($event)"></listar-turnos>
    <listar-carpetas *ngIf="showCarpetas" [agendasSeleccionadas]="agendasSeleccionadas" (volverAlGestor)="volverAlGestor($event)"></listar-carpetas> -->

</form>