<plex-layout main="9">
    <plex-layout-main *ngIf="showListarProtocolos">
        <header>
            <h4>Punto de inicio | Laboratorio</h4>
            <section class="contenedor-tabs">
                <plex-tabs>
                    <plex-tab label="Laboratorio general"></plex-tab>
                    <plex-tab label="Microbiologia"></plex-tab>
                    <plex-tab label="Pesquisa neonatal"></plex-tab>
                </plex-tabs>
                <div class="dropdown-secundario"><i class="mdi mdi-dots-horizontal"></i></div>
            </section>
        </header>
            <!-- Conjunto de filtros -->
            <div class="row contenedor-filtros">
                    <div class="col-2">
                        <plex-select [(ngModel)]="origen" (change)="refreshSelection($event,'origen')" name="origen" label="Origen" (getData)="loadOrigenes($event)"></plex-select>
                    </div>

                    <div class="col-2">
                        <plex-select [(ngModel)]="sector" (change)="refreshSelection($event,'sector')" name="sector" label="Sector" (getData)="loadSector($event)"></plex-select>
                    </div>
                    <div class="col-2">
                        <plex-select [(ngModel)]="areaValidacion" (change)="refreshSelection($event,'areaValidacion')" name="areaValidacion" label="Area Val." (getData)="loadAreasValidacion($event)"></plex-select>
                    </div>
                    <div class="col-2">
                        <plex-datetime type="date" [(ngModel)]="fechaDesde" (change)="refreshSelection($event,'fechaDesde')" name="fechaDesde" label="Desde"
                            class="fechas">
                        </plex-datetime>
                    </div>
                    <div class="col-2">
                        <plex-datetime type="date" [(ngModel)]="fechaHasta" (change)="refreshSelection($event,'fechaHasta')" name="fechaHasta" label="Hasta"
                            class="fechas">
                        </plex-datetime>
                    </div>
                    <div class="col-2 labs-contenedor-secundario">
                        <div class="contenedor-bloque-texto line-height mr-2">
                            <h6>Filtrado avanzado</h6>
                            <small class="text-primary">Pacientes y derivaciones</small>
                        </div>
                        <plex-button label="" type="info" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'" (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
                    </div>
                </div>
                    <!-- Filtros avanzados -->
                    <div class="row" *ngIf="mostrarMasOpciones">
                        <div class="col-3">
                            <plex-float [(ngModel)]="numero" (change)="refreshSelection($event,'numero')" name="numero" label="Numero" ></plex-float>
                        </div>
                        <div class="col-3">
                            <plex-select [(ngModel)]="efectorSolicitante" (change)="refreshSelection($event,'efectorSolicitante')" name="efectorSolicitante" label="Efector Solicitante" (getData)="loadEfectores($event)"></plex-select>
                        </div>
                        <div class="col-3">
                            <plex-float [(ngModel)]="numeroOrigen" (change)="refreshSelection($event,'numeroOrigen')" name="numeroOrigen" label="Numero Origen" ></plex-float>
                        </div>
                    </div>
                <hr>
                <!--Resultados-->
                <div *ngIf="!protocolos?.length" class="alert alert-default">
                    <i class="mdi mdi-emoticon-sad"></i> No hay protocolos que coincidan con los filtros de búsqueda
                </div>
                <!-- Listado -->
            <hr>
            <!-- Listado -->
            <table class="table table-striped table-sm">
                <tbody>
                    <tr class="labs-listado-item" *ngFor="let protocolo of protocolos; let i = index"  (click)="verProtocolo(protocolo, false, $event)">
                        <div class="listado-contenedor-secundario">
                            <td class="labs-item-numero">
                                <i class="mdi mdi-gender-female mdi-36px mdi-rotate-45 rosa"></i>
                                <hr>
                                <h2>{{getNumeroProtocolo(protocolo.solicitud.registros)}}</h2>
                                <hr>
                            </td>
                            <td class="contenedor-bloque-texto">
                                <div class="labs-item-texto">
                                    <p>{{protocolo.solicitud.fecha | date: 'dd/MM/yyyy'}}</p>
                                    <strong>&nbsp;|&nbsp;Origen&nbsp;</strong>
                                    <p>{{protocolo.solicitud.ambitoOrigen}}</p>
                                    <strong>&nbsp;|&nbsp;Servicio&nbsp;</strong> 
                                    <p>Clinica </p>
                                </div>
                                <div class="labs-item-texto">
                                        <strong>Usuario:&nbsp;</strong>
                                        <p>{{protocolo.createdBy.nombreCompleto}}</p>
                                        <strong>&nbsp;|&nbsp;Solicitante:&nbsp;</strong>
                                        <p>lmonteverde</p>
                                        <strong>&nbsp;|&nbsp;Fecha de Registro:&nbsp;</strong>
                                        <p>{{protocolo.createdAt | date: 'dd/MM/yyyy'}}</p>
                                </div>
                            </td>
                        </div>
                        <td class="badge-container">
                            <plex-badge type="danger" class="ml-2"> prioridad </plex-badge>
                            <plex-badge type="warning" class="ml-2"> estado </plex-badge>
                            <plex-button type="success" size="sm" (click)="cargarResultados()" class="ml-2">Cargar Resultados</plex-button>
                            <plex-button type="success" size="sm" (click)="editProtocolo($event)" class="ml-2"><i class="mdi mdi-file-document"></i></plex-button>
                        </td>
                    </tr>
                    <!-- /Protocolos hardcodeados -->
                </tbody>
            </table>
               
    </plex-layout-main>

    <plex-layout-sidebar>
        <header>
        <h3>Detalle</h3>
        </header>
            <div class="badge-container start">
                <plex-badge type="info" class="mr-2">Clinica</plex-badge>
                <plex-badge type="warning" class="mr-2">Ambulatorio</plex-badge>
            </div>
            <label class="control-label">Número</label>
                <h1 class="text-primary text-xl">{{protocolo.numero}}</h1>
            <hr>
            <div class="labs-contenedor-secundario">
                <div class="labs-bloque-texto">
                    <label class="control-label text-info">Usuario</label>
                    <h5 class="" id="id">pmarconi</h5>
                </div>
                <div class="labs-bloque-texto">
                    <label class="control-label text-info">solicitante</label>
                    <h5 class="" id="id">lmonteverde</h5>
                </div>
                <div class="labs-bloque-texto">
                <label class="control-label text-info">Fecha registro</label>
                <h5 class="" id="id">09/07/2018</h5>
                </div>
            </div>    
            <hr>
            <label class="control-label">Observacion</label>
            <textarea class="form-control" rows="12">nsdajdnfjaklsnd;kasbndj</textarea> -->
    </plex-layout-sidebar>
    <!-- Panel lateral -->
    
    <!-- footer -->
    <plex-layout-footer *ngIf="showListarProtocolos">
            <plex-button type="primary" position="left" label="Crear un nuevo protocolo" (click)="insertarAgenda()"></plex-button>
            <plex-button label="Cancelar" type="Cancelar" position="left" (click)="guardarAgendaPanel.cancelar()"></plex-button>
            <plex-button label="Guardar formulario" type="Guardar" position="right" (click)="guardarAgendaPanel.guardarAgenda(agendasSeleccionadas[0])"></plex-button>
    </plex-layout-footer>

    <!-- Switchea a listado practicas -->
    <plex-layout-main>
        <protocolo-detalle *ngIf="showProtocoloDetalle" [cargarProtocolo]="protocolo"></protocolo-detalle>
    </plex-layout-main>
</plex-layout>

