<form *ngIf="autorizado && showReasignarTurno" class="plex-layout">
    <section>
        <div class="row">
            <!-- Header -->
            <div class="col">
                <plex-box>
                    <header>
                        <!-- Títulos / Botones -->
                        <div class="clearfix">
                            <div class="page-title float-left">REASIGNACIÓN MANUAL DE TURNOS</div>
                        </div>
                    </header>

                    <!--Resultados-->
                    <div *ngIf="agendaAReasignar.length === 0" class="alert alert-default">
                        <i class="mdi mdi-emoticon"></i> No quedan Turnos para reasignar es esta Agenda
                    </div>


                    <div class="alert alert-default mb-0">
                        <div class="float-right">
                            <plex-button type="default" title="Mostrar detalle de la agenda" titlePosition="left" [icon]="mostrarHeaderCompleto ? 'chevron-up' : 'chevron-down'"
                                (click)="mostrarHeaderCompleto = !mostrarHeaderCompleto"></plex-button>
                        </div>
                        <!--Header pequeño-->
                        <div *ngIf="!mostrarHeaderCompleto" class="row">
                            <div class="col-12">
                                {{ agendaAReasignar?.horaInicio | date: 'EEE' | uppercase }} {{ agendaAReasignar?.horaInicio | date: 'dd/MM/yyyy'}}, {{ agendaAReasignar?.horaInicio
                                | date: 'HH:mm'}} a {{ agendaAReasignar?.horaFin | date: 'HH:mm'}} hs
                                <div *ngFor="let tipoPrestacion of agendaAReasignar?.tipoPrestaciones">{{ agendaAReasignar.tipoPrestaciones
                                    | enumerar:['term']:'/' }}</div>
                            </div>
                        </div>
                        <!--Header completo-->
                        <div *ngIf="mostrarHeaderCompleto" class="row">
                            <div class="col-12">
                                <label>Fecha</label> {{ agendaAReasignar?.horaInicio | date: 'EEE' | uppercase }} {{ agendaAReasignar?.horaInicio
                                | date: 'dd/MM/yyyy'}}, {{ agendaAReasignar?.horaInicio | date: 'HH:mm'}} a {{ agendaAReasignar?.horaFin
                                | date: 'HH:mm'}} hs
                            </div>
                        </div>
                        <div *ngIf="mostrarHeaderCompleto" class="row">
                            <div class="col-12">
                                <label>Tipos de prestación</label>
                                <div *ngFor="let tipoPrestacion of agendaAReasignar?.tipoPrestaciones">{{ agendaAReasignar.tipoPrestaciones
                                    | enumerar:['term']:'/' }}</div>
                            </div>
                        </div>
                        <div *ngIf="mostrarHeaderCompleto" class="row">
                            <div class="col-12">
                                <label>Profesionales</label>
                                <span *ngIf="agendaAReasignar.profesionales?.length > 0">
                                    {{ agendaAReasignar.profesionales | enumerar:['apellido','nombre'] }}</span>
                                <span *ngIf="agendaAReasignar.profesionales?.length === 0">Sin profesionales asignados</span>
                            </div>
                        </div>
                        <div *ngIf="mostrarHeaderCompleto" class="row">
                            <div class="col-12">
                                <label>Espacio físico</label>
                                <span *ngIf="agendaAReasignar.espacioFisico?.nombre">{{agendaAReasignar.espacioFisico.nombre}}</span>
                                <span *ngIf="!agendaAReasignar.espacioFisico?.nombre" class="text-danger">Espacio físico
                                    no asignado</span>
                            </div>
                        </div>
                    </div>

                    <b>Envío de SMS:</b>
                    <plex-bool type="slide" [(ngModel)]="smsActivo" name="smsActivo"></plex-bool>
                    <span *ngIf="smsActivo" class="badge-success">
                        Activo
                    </span>
                    <span *ngIf="!smsActivo" class="badge-danger">
                        Inactivo
                    </span>

                    <br><br>
                    <fieldset>
                        <!--Turnos-->

                        <legend>TURNOS</legend>
                        <table *ngFor="let bloque of agendaAReasignar.bloques | sortBloques let k = index" class="table table-striped">
                            <div *ngIf="tieneTurnosAReasignar(bloque)">
                                <thead *ngIf="tieneTurnosAReasignar(bloque)">
                                    <tr>
                                        <th *ngIf="bloque.descripcion" colspan="3">{{bloque.descripcion}}</th>
                                        <th *ngIf="!bloque.descripcion" colspan="3">Bloque n° {{k}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let turno of bloque.turnos; let i=index " class="hover " [ngClass]="{
                                    'bg-inverse text-white': estaSeleccionado(turno)} ">
                                        <ng-container *ngIf="turno?.reasignado?.siguiente; then reasignado else noReasignado "></ng-container>
                                        <ng-template #reasignado>
                                            <ng-container *ngIf="(agendaAReasignar.estado==='suspendida' && turno.estado==='asignado'
                                    ) || (turno.estado==='suspendido' && turno.paciente && turno.paciente.id) ">
                                                <td (click)="seleccionarTurno(turno, bloque, false) ">
                                                    <strong *ngIf="turno ">{{ turno.horaInicio | date: 'HH:mm' }}</strong>
                                                </td>
                                                <td (click)="seleccionarTurno(turno, bloque, false) ">
                                                    <span *ngIf="turno && turno.paciente ">{{ turno.paciente | paciente }}
                                                    </span>
                                                    <small>
                                                        <span *ngIf="turno && turno.paciente && turno.paciente.documento !=='' ">|
                                                            DNI {{turno.paciente.documento | number}}</span>
                                                        <span *ngIf="turno && turno.paciente && turno.paciente.documento==='' ">|
                                                            Sin documento (temporal)</span>
                                                    </small>
                                                    <small>
                                                        <span *ngIf="turno?.paciente?.carpetaEfectores && turno.paciente.carpetaEfectores[0]?.nroCarpeta "> |
                                                            Nro Carpeta
                                                            <span *ngFor="let carpeta of turno.paciente.carpetaEfectores |
                                    slice:0:1; ">{{ carpeta.nroCarpeta
                                                                }}
                                                            </span>
                                                        </span>
                                                        <br>
                                                        <span *ngIf="turno?.tipoTurno ">Tipo de turno: {{ turno.tipoTurno
                                                            ? tiposDeTurnos[turno.tipoTurno].nombre : 'sin-tipo' }}</span>
                                                    </small>

                                                    <br *ngIf="turno?.paciente && bloque.tipoPrestaciones.length>1">
                                                    <small>
                                                        <span *ngIf="turno?.paciente?.id && bloque.tipoPrestaciones.length>1">{{turno.tipoPrestacion.nombre}}</span>
                                                    </small>
                                                    <span *ngIf="turno?.estado === 'disponible'">Disponible</span>
                                                    <span [ngClass]="{'text-danger': turno.estado === 'turnoDoble'}" *ngIf="turno?.estado === 'turnoDoble'">Turno
                                                        Doble
                                                    </span>
                                                    <span *ngIf="turno?.nota">
                                                        <i title="{{turno.nota}}" class="text-warning warning mdi mdi-message"></i>
                                                    </span>
                                                </td>
                                                <td (click)="seleccionarTurno(turno, bloque, false)">
                                                    <div class="badge badge-info badge-reasignar float-right">
                                                        <i class="mdi mdi-check"></i>ya reasignado
                                                    </div>
                                                </td>
                                            </ng-container>
                                        </ng-template>

                                        <ng-template #noReasignado>
                                            <ng-container *ngIf="(agendaAReasignar.estado === 'suspendida' && turno.estado === 'asignado') || (turno.estado === 'suspendido' && turno.paciente?.id)">
                                                <td (click)="seleccionarTurno(turno, bloque, false)">
                                                    <strong *ngIf="turno">{{ turno.horaInicio | date: 'HH:mm' }}</strong>
                                                </td>
                                                <td (click)="seleccionarTurno(turno, bloque, false)">
                                                    <span *ngIf="turno && turno.paciente">{{ turno.paciente | paciente }}
                                                    </span>
                                                    <small>
                                                        <span *ngIf="turno && turno.paciente && turno.paciente.documento !== ''">|
                                                            DNI {{turno.paciente.documento|number}}</span>
                                                        <span *ngIf="turno && turno.paciente && turno.paciente.documento === ''">|
                                                            Sin documento (temporal)</span>
                                                    </small>
                                                    <small>
                                                        <span *ngIf="turno?.paciente?.carpetaEfectores && turno.paciente.carpetaEfectores.length>0"> |
                                                            Nro Carpeta
                                                            <span *ngFor="let carpeta of turno.paciente.carpetaEfectores | slice:0:1;">{{carpeta.nroCarpeta}}</span>
                                                        </span>
                                                        <br>
                                                        <span *ngIf="turno?.tipoTurno">Tipo de turno: {{ turno.tipoTurno
                                                            ? tiposDeTurnos[turno.tipoTurno].nombre : 'sin-tipo' }}</span>
                                                    </small>

                                                    <br *ngIf="turno && turno.paciente && bloque.tipoPrestaciones.length>1">
                                                    <small>
                                                        <span *ngIf="turno && turno.paciente && bloque.tipoPrestaciones.length>1">{{turno.tipoPrestacion.nombre}}</span>
                                                    </small>
                                                    <span [ngClass]="{'text-danger': bloque.turnos[i+1].estado === 'turnoDoble'}" *ngIf="bloque.turnos[i+1] && bloque.turnos[i+1].estado === 'turnoDoble'">Turno
                                                        Doble
                                                    </span>
                                                    <span *ngIf="turno && turno.nota">
                                                        <i title="{{turno.nota}}" class="text-warning warning mdi mdi-message"></i>
                                                    </span>
                                                </td>
                                                <td (click)="seleccionarTurno(turno, bloque, false)">
                                                    <div class="badge badge-warning badge-reasignar float-right">
                                                        <i class="mdi mdi-account-convert"></i>sin reasignar
                                                    </div>
                                                </td>
                                            </ng-container>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </div>
                        </table>
                    </fieldset>

                </plex-box>
            </div>
            <div class="col-8">
                <plex-box>
                    <reasignar-turno-agendas [agendasSimilares]="agendasSimilares" [turnoSeleccionado]="turnosSeleccionados[0]" [agendaAReasignar]="agendaAReasignar"
                        [datosAgenda]="datosAgenda" [agendaDestino]="agendaDestino" [smsStatus]="smsActivo" (turnoReasignadoEmit)="reasignacionManualAgendas($event)"></reasignar-turno-agendas>
                </plex-box>
            </div>
        </div>

    </section>
    <!--Footer-->
    <footer *ngIf="showReasignarTurno">
        <div class="row">
            <div class="col">
                <plex-button type="primary" label="Gestor de Agendas" (click)="cancelar()"></plex-button>
            </div>
        </div>
    </footer>
</form>
<permisos *ngIf="!autorizado" [permisos]="permisosRequeridos" [botonCancelar]="true" (cancelarEmit)="cancelar()"></permisos>