<ng-container *ngIf="!soloValores && registro.valor">
    <!-- Observaciones -->
    <plex-text label="Observaciones" multiline="true" autoFocus="1" [(ngModel)]="registro.valor.solicitudPrestacion.observaciones"
        name="motivo"></plex-text>
    <!-- Prioridad -->
    <plex-select [(ngModel)]="registro.valor.solicitudPrestacion.prioridad" name="Prioridad" (getData)="loadPrioridad($event)"
        label="Prioridad" placeholder="Seleccione la prioridad" [required]="true">
    </plex-select>
    <!-- Organización Destino -->
    <plex-select [(ngModel)]="registro.valor.solicitudPrestacion.organizacionDestino" name="organizacionDestino" (getData)="loadOrganizacion($event)"
        label="Organización destino" placeholder="Seleccione la organización" labelField="nombre" [required]="true">
    </plex-select>
    <!-- Profesionales Destino -->
    <plex-select [(ngModel)]="registro.valor.solicitudPrestacion.profesionalesDestino" (getData)="loadProfesionales($event)"
        placeholder="Profesionales" labelField="apellido + ' ' + nombre" [multiple]="true" label="Profesional(es) destino">
    </plex-select>
    <!-- Servicio -->
    <plex-select [(ngModel)]="registro.valor.solicitudPrestacion.servicio" name="Servicio" (getData)="loadServicios($event)"
        label="Servicio" placeholder="Seleccione el servicio" labelField="term" [required]="true" idField="term">
    </plex-select>
    <!-- Prácticas -->
    <plex-select [(ngModel)]="registro.valor.solicitudPrestacion.practicas" (getData)="loadPracticas($event)" required="true"
        placeholder="Practicas" label="Practicas a Solicitar" idField="term" labelField="term" [multiple]="true">
    </plex-select>
</ng-container>

<div class="row" *ngIf="soloValores">
    <div class="col-12 readonly">
        <div>
            <span>Observaciones</span>
            {{ registro.valor.solicitudPrestacion.observaciones || '(no definido)' }}
        </div>
        <div *ngIf="registro.valor?.solicitudPrestacion?.prioridad">
            <span>Prioridad de la solicitud</span>
            <ng-container *ngIf="registro.valor?.solicitudPrestacion?.prioridad">
                {{ registro.valor.solicitudPrestacion.prioridad }}
            </ng-container>
        </div>
        <div *ngIf="registro.valor?.solicitudPrestacion?.organizacionDestino">
            <span>Organización a la cual se solicita</span>
            <ng-container *ngIf="registro.valor?.solicitudPrestacion?.organizacionDestino && registro.valor?.solicitudPrestacion?.organizacionDestino?.id">
                {{ registro.valor.solicitudPrestacion.organizacionDestino.nombre }}
            </ng-container>
        </div>
        <div *ngIf="registro?.valor?.solicitudPrestacion?.profesionalesDestino">
            <span>Profesional/es</span>
            <ng-container *ngIf="registro?.valor?.solicitudPrestacion?.profesionalesDestino && registro?.valor?.solicitudPrestacion?.profesionalesDestino.length">
                <ng-container *ngFor="let profesional of registro.valor?.solicitudPrestacion?.profesionalesDestino">
                    {{ profesional.apellido }}, {{ profesional.nombre }}
                </ng-container>
            </ng-container>
        </div>
        <div>
            <span>Servicio</span>
            <ng-container>
                {{ registro.valor.solicitudPrestacion.servicio.nombre }}
            </ng-container>
        </div>
        <div>
            <span>Practicas</span>
            <ng-container>
                {{ registro.valor.solicitudPrestacion.practicas.nombre }}
            </ng-container>
        </div>
    </div>
</div>