<ng-container *ngIf="(prestacionesService.HUDSAccess$ | async)">
    <ng-container *ngIf="graficos.length">
        <div class="row" *ngFor="let grafico of graficos">
            <div class="col-12">
                <h4 class="text-capitalize">
                    {{ grafico.conceptos | enumerar:['term'] }}
                </h4>
                <rup [elementoRUP]="grafico" [prestacion]="prestacion" [paciente]="paciente" [soloValores]="false"></rup>
            </div>
        </div>
    </ng-container>
</ng-container>
<div class="row" *ngIf="!(prestacionesService.HUDSAccess$ | async)">
    <div class="col text-center huds-denied">
        <plex-badge type="danger"> No posee permisos para visualizar la Historia de Salud de este paciente </plex-badge> 
    </div>
</div>